body{
    display: grid;
    grid-template-columns:1fr 4fr ;
}
.hidden{
    display: none;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.form{
    max-width: 40rem;
    min-height: 15rem;
    border: 1px solid black;
    position: absolute;
    top: 25%;
    left: 30%;
}
.side{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    
}
#plus{
    align-self: center;
}
.logo{
    display: flex;
    justify-content: center;
    
}
.side img{
    max-width: 5rem;
}
#content{
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 2rem;
    border: 2px solid black;
}
.card img{
    width: 2rem;
}